.loginForm {
    min-width: 640px;

    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.loginFormTitle {
    text-align: center;
}

.loginPageFooter {
    min-width: 640px;
    margin-top: 20px;

    text-align: right;
}

.loginForm .Mui-error {
    margin-left: 0;
}

.loginForm .Mui-error:first-letter {
    text-transform: uppercase;
}